:root {
  --taupe-50: hsl(14, 25%, 95%);
  --taupe-100: #caafa7;
  --taupe-300: hsl(13, 15%, 50%);
  --rose-900: hsl(14, 65%, 9%);
  --primary-red: rgb(200, 50, 50);
  --primary-red-lighter: rgb(200, 70, 70);

  font-family: "Red Hat Text", Helvetica;
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--taupe-50);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

#root {
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

button {
  cursor: pointer;
}

.two-column-layout {
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 30px;
  padding: 2rem;
  margin-inline: 30px;
}

@media (max-width: 800px) {
  .two-column-layout {
    grid-template-columns: 1fr;
    margin-inline: 0px;
    gap: 5px;
  }
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
  margin: 0px;
}

.main-title {
  justify-self: start;
  font-size: 2.5rem;
}

h2 {
  font-size: 3rem;
}

p {
  margin: 0px;
}

.attribution {
  font-size: 0.8rem;
  text-align: center;
  position: relative;
  bottom: 0px;
  right: 0px;
  left: 0px;
  color: white;
  background: var(--primary-red);
}
.attribution a {
  color: inherit;
}
